/* Colours assigned based on system defaults of user. */
:root {
    --text-low-contrast: #6F6E77;
    --text-high-contrast: #1A1523;
    --main-bg: #F8F9FA;
    --elevation-bg: #FBFCFD;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-low-contrast: hsl(247deg 15% 75%);
        --text-high-contrast: hsl(240deg 6% 92%);
        --main-bg: #000000;
        --elevation-bg: #05050F;
    }
}

/* Themes set for explicit selection by the user */
[data-theme="light"] {
    --text-low-contrast: #6F6E77;
    --text-high-contrast: #1A1523;
    --main-bg: #F8F9FA;
    --elevation-bg: #FBFCFD;
}

[data-theme="dark"] {
    --text-low-contrast: hsl(247deg 15% 75%);
    --text-high-contrast: hsl(240deg 6% 92%);
    --main-bg: #000000;
    --elevation-bg: #05050F;
}

@font-face {
    font-family: "PPNeueMontreal-Regular";
    src: url('../public/assets/fonts/PPNeueMontreal-Regular.otf');
    weight: 400;
  }
  
@font-face {
    font-family: "PPNeueMontreal-Light";
    src: url('../public/assets/fonts/PPNeueMontreal-Light.otf');
    weight: 300;
}

@font-face {
    font-family: "Snell";
    src: url('../public/assets/fonts/SnellBT-Bold.otf');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "PPNeueMontreal-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: var(--main-bg);
    color: var(--text-low-contrast);
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-family: "PPNeueMontreal-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--text-high-contrast);
    letter-spacing: -0.03em;
    font-weight: 300;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    color: var(--text-low-contrast);
    font-size: 1.0625rem;
}

p {
    color: var(--text-low-contrast);
    line-height: 175%;
    font-weight: 400;
    font-size: 1.0625rem;
}

p strong {
    color: var(--text-high-contrast);
    font-weight: 400;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    all: unset;
    height: 0.25rem;
    border-width: 0;
}

article h1 {
    font-size: 3rem;
}

@media screen and (max-width: 480px){
    article h1 {
        font-size: 2rem;
    }
    a {
        font-size: 1rem;
    }
    p {
        font-size: 1rem;
    }
}