/* Colours assigned based on system defaults of user. */
:root {
    --text-low-contrast: hsla(247, 4%, 35%, 1);
    --text-high-contrast: #1A1523;
    --main-bg: #F8F9FA;
    --elevation-bg: #FBFCFD;
    --elevation-1: hsla(210, 17%, 93%, 1);
    --outline: hsla(210, 17%, 90%, 1);

    --outline-opaque-soft: #00000020;
    --outline-opaque-hard: #00000060;

    --shine-border: conic-gradient(
        #00000080,
        #00000040,
        #00000030,
        #00000020,
        #00000010,
        #00000010,
        #00000080
      );

    --shadow-lg: 0px 24px 16px -16px rgba(0,0,0,0.18);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-low-contrast: hsl(247deg 15% 75%);
        --text-high-contrast: hsl(240deg 6% 92%);
        --main-bg: hsl(228deg 16% 8%);
        --elevation-bg: #05050F;
        --elevation-1: hsla(240, 7%, 14%, 1);
        --outline: hsl(240deg 6% 20%);
    
        --outline-opaque-soft: #FFFFFF20;
        --outline-opaque-hard: #FFFFFF60;
    
        --shine-border: conic-gradient(
            #ffffff80,
            #ffffff40,
            #ffffff30,
            #ffffff20,
            #ffffff10,
            #ffffff10,
            #ffffff80
          );
    
        --shadow-lg: 0px 24px 16px -16px rgba(0,0,0,0.80);
    }
}

/* Themes set for explicit selection by the user */
[data-theme="light"] {
    --text-low-contrast: hsla(247, 4%, 35%, 1);
    --text-high-contrast: #1A1523;
    --main-bg: #F8F9FA;
    --elevation-bg: #FBFCFD;
    --elevation-1: hsla(210, 17%, 93%, 1);
    --outline: hsla(210, 17%, 90%, 1);

    --outline-opaque-soft: #00000020;
    --outline-opaque-hard: #00000060;

    --shine-border: conic-gradient(
        #00000080,
        #00000040,
        #00000030,
        #00000020,
        #00000010,
        #00000010,
        #00000080
      );

    --shadow-lg: 0px 24px 16px -16px rgba(0,0,0,0.18);
}

[data-theme="dark"] {
    --text-low-contrast: hsl(247deg 15% 75%);
    --text-high-contrast: hsl(240deg 6% 92%);
    --main-bg: hsl(228deg 16% 8%);
    --elevation-bg: #05050F;
    --elevation-1: hsla(240, 7%, 14%, 1);
    --outline: hsl(240deg 6% 20%);

    --outline-opaque-soft: #FFFFFF20;
    --outline-opaque-hard: #FFFFFF60;

    --shine-border: conic-gradient(
        #ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80
      );

    --shadow-lg: 0px 24px 16px -16px rgba(0,0,0,0.80);
}

@font-face {
    font-family: "PPNeueMontreal-Regular";
    src: url('../public/assets/fonts/PPNeueMontreal-Regular.otf');
    weight: 400;
  }
  
@font-face {
    font-family: "PPNeueMontreal-Light";
    src: url('../public/assets/fonts/PPNeueMontreal-Light.otf');
    weight: 300;
}

@font-face {
    font-family: "Snell";
    src: url('../public/assets/fonts/SnellBT-Bold.otf');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "PPNeueMontreal-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: var(--main-bg);
    color: var(--text-low-contrast);
}

h1, h2, h3, h4, h5 {
    font-family: "PPNeueMontreal-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--text-high-contrast);
    letter-spacing: -0.02em;
    font-weight: 300;
    margin: 0;
}

a {
    all: unset;
    color: inherit;
    text-decoration: none;
    color: var(--text-low-contrast);
    font-size: 1.0625rem;
    cursor: pointer;
    line-height: 150%;
}

p {
    color: var(--text-low-contrast);
    line-height: 175%;
    font-weight: 400;
    font-size: 1.0625rem;
}

p strong {
    color: var(--text-high-contrast);
    font-weight: 400;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    all: unset;
    height: 0.25rem;
    border-width: 0;
}

article h1,
h1 code {
    font-size: 3rem;
}

article h2,
h2 code {
    font-size: 1.75rem;
}

article h3,
h3 code {
    font-size: 1.25rem;
}

article label {
    font-size: 0.875rem;
}

ul {
    all: unset;
}

main {
    padding: 6rem 0;
    height: fit-content;
    display: flex;
    justify-content: center;
}

article {
    display: flex;
    width: 100%;
    max-width: 40rem;
    justify-content: left;
    flex-direction: column;
}

code {
    padding: 0.25rem 0.5rem;
    background: var(--elevation-1);
    border-radius: 4px;
    font-size: 1rem;
}

section {
    gap: 0.5rem;
    z-index: 0;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

li {
    line-height: 175%;
    font-size: 1.0625rem;
}

ol {
    margin-top: 0.5rem;
}

select {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 480px){
    article h1 {
        font-size: 2rem;
    }
    article h2 {
        font-size: 1.5rem;
    }
    article h3 {
        font-size: 1.25rem;
    }
    a {
        font-size: 1rem;
    }
    p {
        font-size: 1rem;
    }
    main {
        flex-direction: column;
        padding: 6rem 1.5rem 0;
    }
}