.navigation {
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    width: 100%;
    top: 0;
    position: sticky;
    max-width: 52rem;
    margin: auto;
    background: linear-gradient(180deg, var(--main-bg), transparent)
}

.logoContainer {
    height: 5rem;
    position: relative;
    width: 10rem;
}

@media screen and (max-width: 480px){
    .navigation {
        padding: 1.5rem;
    }
    .logoContainer {
        height: 4rem;
        width: 8rem;
    }
}
