.leftHandPane {
    width: 12rem;
    margin-left: -12rem;
    height: 100%;
    padding: 0.5rem 0;
}

.content {
    width: 40rem;
}

.postContainer {
    border-top: solid 1px var(--outline);
}

.postContainerHeader {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
}

.posts {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.posts div {
    opacity: 1;
    transition: 0.1s ease-out;
}

.posts:hover div {
    opacity: 0.4;
    transition: 0.1s ease-out;
}

.posts div {
    opacity: 1;
    transition: 1s;
    border-radius: 0.75rem;
}

.posts div:hover {
    opacity: 1;
    transition: 0.1s;
    /*box-shadow: 20px 0px 0px 2px var(--elevation-1), -20px 0px 0px 2px var(--elevation-1);*/
    /*background: var(--elevation-1);*/
}


.posts h3 {
    color: var(--text-low-contrast);
}


@media screen and (max-width: 480px){
    .main {
        flex-direction: column;
    }
    .leftHandPane {
        margin-left: 0;
        padding: 1.5rem 1.5rem 0;
    }
    .content {
        width: 100%;
        padding: 1.5rem;
    }
}
