.main {
    padding: 6rem 0;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.leftHandPane {
    width: 12rem;
    margin-left: -12rem;
    height: 100%;
    padding: 1rem 0;
}

.leftHandPage {
    font-size: 2rem;
}

.content {
    width: 40rem;
}


@media screen and (max-width: 480px){
    .main {
        flex-direction: column;
    }
    .leftHandPane {
        margin-left: 0;
        padding: 1.5rem 1.5rem 0;
    }
    .content {
        width: 100%;
        padding: 1.5rem;
    }
}
